body{
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    
}
main{
    max-width: 1060px;
    color: white;
    margin: auto;
}

/* -------HEADER------- */
header{
    background-image: url(../IMG/pexels-quang-nguyen-vinh-2175952.jpg);
    height: 71vh;
    background-size: cover;
    /* margin-top: -200px; */
    background-attachment: fixed;
}
.header_text{
    position: relative;
    top: 56%;
}
header div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.header_left {
    display: block;
    background-color: #ff0000d4;
    left: 400px;
    font-size: 2em;
    text-align: center;
    top: 15px;
    width: 130px;
    height: 68px;
    /* justify-items: end; */
    /* display: contents; */
    position: relative;
}
.header_left p{
    margin-bottom: 5px;
    position: relative;
    bottom: 19px;
    font-weight: bold;
}
.header_left p span {
    border-bottom: 2px solid white;
    position: relative;
    bottom: 7px;
    font-size: 0.6em;
    margin-right: 7px;
    font-family: 'Roboto Mono', monospace;
}
.header_right {
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: block;
    /* margin-left: 10px; */
    width: 100px;
}
.header_right p {
    margin-left: 10px;
    margin-right: 400px;
    padding: 0;
}
.css_text {
    color: black;
    /* left: 475px; */
    /* top: 220px; */
    bottom: 42px;
    display: inline-block;
    width: 170px;
    margin-left: 475px;
    position: relative;
}

/* -----NAV----- */
nav{
    position: sticky;
    top: 0;
    z-index: 1;;
}
nav div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #e3e3e3;
    color: black;
}
nav div a{
    border-right: 1px solid;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 30px;
    background-color: #d3d3d3;
}
.nav_contact{
    background-color: #fd1f31;
    color: white;
    border-right: none;
}

/* -----TÄHTÄIN SIVU----- */
.page1{
    z-index: 0;
}
.bg_container{
    overflow: hidden;
    position: relative;
    height: 180vh;
}
.bg_image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200vh;
    opacity: 0.1;
}
/* -----OIKEA PUOLI----- */
.p1_header h1, .page1 h2{
    font-family: 'Source Code Pro', monospace;
    margin: 0;
}
.p1_header h1{
    font-size: 3.5em;
    margin-top: 110px;
}
.p1_header h2 {
    font-size: 2.5em;
    color: red;
    margin-top: -18px;
    margin-left: 10px;
}
.p1_content{
    max-width: 55vh;
    font-size: 0.9em;
}
.p1_content p{
    margin-top: 80px;
}

.p1_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p1_grid div img {
    height: 130vh;
    right: 220px;
    top: 130px;
    margin-right: -150px;
    position: relative;
    filter: invert(15%);
    opacity: 0.5;
}
.p1_content ul {
    list-style-position: inside;
    margin-left: -40px;
    margin-top: 30px;
}
.p1_content ul li {
    margin-bottom: 15px;
    border-bottom: #80808036 solid 1px;
    padding-bottom: 10px;
}
.p1_header span{
    margin-top: 20px;
}
/* -----SMOOTHI PALKKI----- */
.bottom_fade {
    display: block;
    width: 100%;
    position: absolute;
    background-color: #000000;
    height: 60px;
    top: 887px;
}

/* -----LAATIKKO SIVU----- */
.page2 h2{
    text-align: center;
    font-size: 2.5em;
}
.p2_grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto;
    column-gap: 20px;
    row-gap: 20px;
    margin-left: 320px;
}
.p2_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    text-align: center;
}
.p2_left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 90px;
    text-align: center;
}
#grid1 {
    /* text-align: center; */
    /* display: block; */
    background-color: rgb(140 33 34);
    /* max-width: 120px; */
}
#grid2 {
    background-color: rgb(150 3 64);
}
#grid3 {
    background-color: rgb(41 55 115);
}
#grid4{
    background-color: rgb(65 40 114);
}
.p2_footer {
    margin-left: 410px;
    background-color: #fd0014;
    width: 240px;
    height: 40px;
}
.p2_footer p {
    display: flex;
    justify-content: flex-start;
    line-height: 40px;
    margin-left: 15px;
}

/* -----VIDEO SIVU----- */
#catvideo {
    width: 100%;
    height: 90vh;
    margin-top: 100px;
}
/* -----PÄHKINÄ SIVU----- */

.page4 {
    height: 140vh;
    color: black;
    text-align: center;
}
.p4_bgimage {
    background-image: url(../IMG/pexels-andreea-ch-3969099.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 140vh;
}
.p4_header{
    margin-top: 20px;
}
.p4_header h2 {
    font-size: 2.4em;
    text-align: center;
    /* max-width: 370px; */
    padding-top: 80px;
}
.p4_content {
    text-align: left;
    max-width: 500px;
}