body{
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    
}
main{
    max-width: 1060px;
    color: white;
    margin: auto;
}

/* -------HEADER------- */
header{
    background-image: url(../IMG/pexels-quang-nguyen-vinh-2175952.jpg);
    height: 71vh;
    background-size: cover;
    /* margin-top: -200px; */
    background-attachment: fixed;
}
.header_text{
    position: relative;
    top: 56%;
}
header div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.header_left {
    display: block;
    background-color: #ff0000d4;
    left: 400px;
    font-size: 2em;
    text-align: center;
    top: 15px;
    width: 130px;
    height: 68px;
    position: relative;
}
.header_left p{
    margin-bottom: 5px;
    position: relative;
    bottom: 19px;
    font-weight: bold;
}
.header_left p span {
    border-bottom: 2px solid white;
    position: relative;
    bottom: 7px;
    font-size: 0.6em;
    margin-right: 7px;
    font-family: 'Roboto Mono', monospace;
}
.header_right {
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: block;
    position: relative;
    margin-left: 10px;
    width: 100px;
}
.header_right p {
    margin-left: 10px;
    margin-right: 400px;
    padding: 0;
}
.css_text {
    color: black;
    left: 486px;
    top: 185px;
    display: inline-block;
    width: 170px;
    margin: 0;
    position: relative;
}

/* -----NAV----- */
nav{
    position: sticky;
    top: 0;
    z-index: 1;;
}
nav div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
    color: black;
}
nav div a{
    border-right: 1px solid;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 30px;
    background-color: #d3d3d3;
}
.nav_contact{
    background-color: red;
    color: white;
    border-right: none;
}

/* -----TÄHTÄIN SIVU----- */
.page1{
    z-index: 0;
}
.p2_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.page1 div div div{
    position: relative;
}
.p2_grid div img {
    height: 130vh;
    right: 250px;
    top: 130px;
    position: relative;
    filter: invert(15%);
    opacity: 0.5;
}
.bg_container{
    overflow: hidden;
    position: relative;
    height: 180vh;
}
.bg_image{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200vh;
    opacity: 0.1;
}