body{
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    
}
main{
    max-width: 1060px;
    color: white;
    margin: auto;
}
header{
    background-image: url(../IMG/pexels-quang-nguyen-vinh-2175952.jpg);
    height: 71vh;
    background-size: cover;
    /* margin-top: -200px; */
    background-attachment: fixed;
}
.header_text{
    position: relative;
    top: 56%;
}
header div div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.header_left {
    display: block;
    background-color: #ff0000d4;
    left: 400px;
    font-size: 2em;
    text-align: center;
    top: 15px;
    width: 130px;
    height: 68px;
    position: relative;
}
.header_left p{
    margin-bottom: 5px;
    position: relative;
    bottom: 19px;
    font-weight: bold;
    
}
.header_right {
    color: black;
    font-size: 2em;
    font-weight: bold;
    display: block;
    position: relative;
    margin-left: 10px;
    width: 100px;
}
.header_right p {
    margin-left: 10px;
    margin-right: 400px;
    padding: 0;
}
.css_text {
    color: black;
    position: relative;
    left: 480px;
    top: 330px;
    display: inline-block;
    width: 170px;
    margin: 0;
}
nav{
    position: sticky;
    top: 0;
}
nav div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: whitesmoke;
    color: black;
}
nav div a{
    border-right: 1px solid;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 30px;
    background-color: #d3d3d3;
}
.nav_contact{
    background-color: red;
    color: white;
    border-right: none;
}