#main-container{
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    margin: auto;
    flex-direction: row;
}

#top-div{
    background-color: aqua;
    min-height: 50px;
    flex: 100%;
}

#left-div{
    background-color: red;
    min-height: 50px;
    flex: 80%;
}

#right-div{
    background-color: blue;
    min-height: 50px;
    flex: 0;
}

button.button{
    background-color: #a1a1a1;
    color: #fff;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.2em;
}

button#button-0{
    width: 100%;
    border-radius: 80px;
}

button#button-11{
    width: 160px;
    border-radius: 80px;
}

/*
sama homma css gridillä
https://css-tricks.com/snippets/css/complete-guide-grid/#aa-grid-template-areas
*/
#top-div {
    grid-area: top;
}
#left-div {
    grid-area: left;
}
#right-div {
    grid-area: right;
}
#main-container {
    display: grid;
    grid-template-columns: 1fr 80px;
    grid-template-rows: auto;
    grid-template-areas:
        "top top"
        "left right";
    width: 320px;
}