/*body
{background-color: red;

}
*/

img{
    width: 700px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

p{
    font-size: 1.3em;
}

.otsikko{
    font-weight: bold;
    font-style: italic;
    font-size: 3em;
}

em{
    color: red;
    font-weight: bold;
}

#jump{
    font-size: 1.5em;
}
